include ../mixins/picture

header.header
	.container
		.header__content
			a.header__logo(href="#")
				+picture('logo', 'logo')
			.header__busket
				svg.icon.icon--busket
					use.icon__item(xlink:href='#busket')
				.header__count
					span.header__num
						| 2
