-
	const filters = [
		{
			title: 'Все',
			value: 'all'
		},
		{
			title: 'Плащи',
			value: 'raincoats'
		},
		{
			title: 'Кроссовки',
			value: 'sneakers'
		},
		{
			title: 'Рубашки',
			value: 'shirts'
		},
		{
			title: 'Брюки',
			value: 'pants'
		}
	];

-
	const sorts = [
		{
			title: 'От дорогих к дешевым',
			value: 'up'
		},
		{
			title: 'От дешевых к дорогим',
			value: 'down'
		},
		{
			title: 'Популярные',
			value: 'popular'
		},
		{
			title: 'Новые',
			value: 'new'
		}
	];
