<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="max-age=31536000, public">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>Главная</title>
    <link rel="favicon" href="favicon/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script defer src="js/script.min.js"></script>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="position:absolute;" aria-hidden="true" focusable="false">
      <symbol id="arrow" fill="none" viewBox="0 0 13 7">
        <path d="M1 1l5.5 5L12 1"></path>
      </symbol>
      <symbol id="busket" fill="none" viewBox="0 0 25 23">
        <path d="M23.856 6.359c-.144-.218-.36-.29-.575-.29h-6.468c-.432 0-.72.29-.72.724 0 .435.288.724.72.724h5.534l-1.797 6.517H6.606L5.313 7.517h5.75c.43 0 .718-.29.718-.724s-.287-.724-.719-.724H5.026l-.431-2.317a.399.399 0 00-.216-.362L2.222 1.217a.691.691 0 00-1.006 0 .704.704 0 000 1.014l2.012 2.028 2.084 10.644c.072.362.36.58.72.58h15.093c.36 0 .575-.218.719-.507L24 7.01c0-.217 0-.507-.144-.651z" fill="#000" stroke="#fff" stroke-width=".5"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.75 19.103c0-1.593 1.294-2.896 2.875-2.896S12.5 17.51 12.5 19.103C12.5 20.697 11.206 22 9.625 22S6.75 20.697 6.75 19.103zm1.438 0c0 .797.646 1.449 1.437 1.449a1.448 1.448 0 000-2.897c-.79 0-1.438.652-1.438 1.448z" fill="#000"></path>
        <path d="M9.625 15.957c-1.721 0-3.125 1.417-3.125 3.146H7c0-1.456 1.184-2.646 2.625-2.646v-.5zm3.125 3.146c0-1.729-1.404-3.146-3.125-3.146v.5c1.441 0 2.625 1.19 2.625 2.646h.5zM9.625 22.25c1.721 0 3.125-1.417 3.125-3.147h-.5c0 1.457-1.184 2.647-2.625 2.647v.5zM6.5 19.103c0 1.73 1.404 3.147 3.125 3.147v-.5C8.184 21.75 7 20.56 7 19.103h-.5zm3.125 1.199c-.65 0-1.188-.538-1.188-1.199h-.5c0 .933.758 1.699 1.688 1.699v-.5zm1.188-1.199c0 .66-.537 1.199-1.188 1.199v.5c.93 0 1.688-.766 1.688-1.699h-.5zm-1.188-1.198c.65 0 1.188.538 1.188 1.198h.5c0-.932-.758-1.698-1.688-1.698v.5zm-1.188 1.198c0-.66.537-1.198 1.188-1.198v-.5c-.93 0-1.688.766-1.688 1.698h.5z" fill="#fff"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.656 19.103c0-1.593 1.294-2.896 2.875-2.896 1.582 0 2.875 1.303 2.875 2.896 0 1.594-1.293 2.897-2.875 2.897-1.581 0-2.875-1.303-2.875-2.897zm1.438 0c0 .797.647 1.449 1.437 1.449a1.448 1.448 0 000-2.897c-.79 0-1.437.652-1.437 1.448z" fill="#000"></path>
        <path d="M17.531 15.957c-1.72 0-3.125 1.417-3.125 3.146h.5c0-1.456 1.184-2.646 2.625-2.646v-.5zm3.125 3.146c0-1.729-1.404-3.146-3.125-3.146v.5c1.442 0 2.625 1.19 2.625 2.646h.5zm-3.125 3.147c1.721 0 3.125-1.417 3.125-3.147h-.5c0 1.457-1.183 2.647-2.625 2.647v.5zm-3.125-3.147c0 1.73 1.404 3.147 3.125 3.147v-.5c-1.441 0-2.625-1.19-2.625-2.647h-.5zm3.125 1.199c-.65 0-1.187-.538-1.187-1.199h-.5c0 .933.757 1.699 1.687 1.699v-.5zm1.188-1.199c0 .66-.537 1.199-1.188 1.199v.5c.93 0 1.688-.766 1.688-1.699h-.5zm-1.188-1.198c.651 0 1.188.538 1.188 1.198h.5c0-.932-.757-1.698-1.688-1.698v.5zm-1.187 1.198c0-.66.537-1.198 1.187-1.198v-.5c-.93 0-1.687.766-1.687 1.698h.5z" fill="#fff"></path>
        <path d="M11.494 9.11c-.288-.217-.79-.144-1.006.145-.216.29-.144.797.143 1.014l2.875 2.172h.072s.072 0 .072.073h.072c0 .072.144.072.216.072.071 0 .215 0 .287-.072 0 0 .072 0 .072-.073 0 0 .072 0 .072-.072l2.875-2.172c.287-.218.36-.725.144-1.014-.216-.29-.72-.362-1.007-.145l-1.725 1.376V2.448c0-.434-.287-.724-.718-.724-.432 0-.72.29-.72.724v7.966L11.495 9.11z" fill="#000" stroke="#fff" stroke-width=".5"></path>
      </symbol>
    </svg>
    <div class="wrapper">
      <div class="container">
        <div class="wrapper__content">
          <header class="header">
            <div class="container">
              <div class="header__content"><a class="header__logo" href="#">
                            <picture class="img img--logo">
                              <source class="img__item" srcset="images/logo.webp" type="image/webp">
                              <source class="img__item" srcset="images/logo.jp2" type="image/jp2"><img class="img__item" src="images/logo.png" alt="logo">
                            </picture></a><a class="header__busket" href="#">
                  <svg class="icon icon--busket">
                    <use class="icon__item" xlink:href="#busket"></use>
                  </svg>
                  <div class="header__count"><span class="header__num">2</span></div></a></div>
            </div>
          </header>
          <aside class="aside">
            <ul class="aside__filters">
              <li class="aside__item"><a class="aside__link aside__link--active" href="#" data-category="all">Все</a>
              </li>
              <li class="aside__item"><a class="aside__link" href="#" data-category="raincoats">Плащи</a>
              </li>
              <li class="aside__item"><a class="aside__link" href="#" data-category="sneakers">Кроссовки</a>
              </li>
              <li class="aside__item"><a class="aside__link" href="#" data-category="shirts">Рубашки</a>
              </li>
              <li class="aside__item"><a class="aside__link" href="#" data-category="pants">Брюки</a>
              </li>
            </ul>
            <div class="sort">
              <header class="sort__header"><span class="sort__name">Сортировать</span>
                <svg class="icon icon--arrow icon--arrow-down">
                  <use class="icon__item" xlink:href="#arrow"></use>
                </svg>
              </header>
              <div class="sort__body">
                <ul class="sort__list">
                  <li class="sort__item"><a class="sort__link" href="#" data-value="up">От дорогих к дешевым</a></li>
                  <li class="sort__item"><a class="sort__link" href="#" data-value="down">От дешевых к дорогим</a></li>
                  <li class="sort__item"><a class="sort__link" href="#" data-value="popular">Популярные</a></li>
                  <li class="sort__item"><a class="sort__link" href="#" data-value="new">Новые</a></li>
                </ul>
              </div>
            </div>
          </aside>
          <main class="main">
                <article class="item">
                            <picture class="img img--item">
                              <source class="img__item" srcset="images/item1.webp" type="image/webp">
                              <source class="img__item" srcset="images/item1.jp2" type="image/jp2"><img class="img__item" src="images/item1.png" alt="item1">
                            </picture>
                  <div class="item__content">
                    <div class="item__gallery slider slider--gallery">
                      <div class="slider__arrow slider__arrow--prev">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                      <div class="slider__content">
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-1.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-1.jp2" type="image/jp2"><img class="img__item" src="images/gallery-1.png" alt="gallery-1">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-2.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-2.jp2" type="image/jp2"><img class="img__item" src="images/gallery-2.png" alt="gallery-2">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-3.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-3.jp2" type="image/jp2"><img class="img__item" src="images/gallery-3.png" alt="gallery-3">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-4.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-4.jp2" type="image/jp2"><img class="img__item" src="images/gallery-4.png" alt="gallery-4">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-5.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-5.jp2" type="image/jp2"><img class="img__item" src="images/gallery-5.png" alt="gallery-5">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-6.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-6.jp2" type="image/jp2"><img class="img__item" src="images/gallery-6.png" alt="gallery-6">
                                  </picture>
                      </div>
                      <div class="slider__arrow slider__arrow--next">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="item__info"><small class="item__category" data-category="shirts">рубашки</small><a class="item__name" href="#">Рубашка на пуговицах</a>
                      <div class="item__price"><small class="item__sign">$</small><small class="item__count-price" data-price="320">320</small></div>
                      <div class="item__left"><small class="item__store">на складе:&nbsp</small><small class="item__count-store">20</small></div>
                    </div>
                  </div>
                </article>
                <article class="item">
                            <picture class="img img--item">
                              <source class="img__item" srcset="images/item2.webp" type="image/webp">
                              <source class="img__item" srcset="images/item2.jp2" type="image/jp2"><img class="img__item" src="images/item2.png" alt="item2">
                            </picture>
                  <div class="item__content">
                    <div class="item__gallery slider slider--gallery">
                      <div class="slider__arrow slider__arrow--prev">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                      <div class="slider__content">
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-1.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-1.jp2" type="image/jp2"><img class="img__item" src="images/gallery-1.png" alt="gallery-1">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-2.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-2.jp2" type="image/jp2"><img class="img__item" src="images/gallery-2.png" alt="gallery-2">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-3.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-3.jp2" type="image/jp2"><img class="img__item" src="images/gallery-3.png" alt="gallery-3">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-4.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-4.jp2" type="image/jp2"><img class="img__item" src="images/gallery-4.png" alt="gallery-4">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-5.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-5.jp2" type="image/jp2"><img class="img__item" src="images/gallery-5.png" alt="gallery-5">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-6.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-6.jp2" type="image/jp2"><img class="img__item" src="images/gallery-6.png" alt="gallery-6">
                                  </picture>
                      </div>
                      <div class="slider__arrow slider__arrow--next">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="item__info"><small class="item__category" data-category="shirts">рубашки</small><a class="item__name" href="#">Рубашка с принтом</a>
                      <div class="item__price"><small class="item__sign">$</small><small class="item__count-price" data-price="170">170</small></div>
                      <div class="item__left"><small class="item__store">на складе:&nbsp</small><small class="item__count-store">11</small></div>
                    </div>
                  </div>
                </article>
                <article class="item">
                            <picture class="img img--item">
                              <source class="img__item" srcset="images/item3.webp" type="image/webp">
                              <source class="img__item" srcset="images/item3.jp2" type="image/jp2"><img class="img__item" src="images/item3.png" alt="item3">
                            </picture>
                  <div class="item__content">
                    <div class="item__gallery slider slider--gallery">
                      <div class="slider__arrow slider__arrow--prev">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                      <div class="slider__content">
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-1.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-1.jp2" type="image/jp2"><img class="img__item" src="images/gallery-1.png" alt="gallery-1">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-2.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-2.jp2" type="image/jp2"><img class="img__item" src="images/gallery-2.png" alt="gallery-2">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-3.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-3.jp2" type="image/jp2"><img class="img__item" src="images/gallery-3.png" alt="gallery-3">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-4.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-4.jp2" type="image/jp2"><img class="img__item" src="images/gallery-4.png" alt="gallery-4">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-5.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-5.jp2" type="image/jp2"><img class="img__item" src="images/gallery-5.png" alt="gallery-5">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-6.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-6.jp2" type="image/jp2"><img class="img__item" src="images/gallery-6.png" alt="gallery-6">
                                  </picture>
                      </div>
                      <div class="slider__arrow slider__arrow--next">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="item__info"><small class="item__category" data-category="shoes">обувь</small><a class="item__name" href="#">Кроссовки «Kaiwa» Y3 x Adidas Супер модные</a>
                      <div class="item__price"><small class="item__sign">$</small><small class="item__count-price" data-price="240">240</small></div>
                      <div class="item__left"><small class="item__store">на складе:&nbsp</small><small class="item__count-store">134</small></div>
                    </div>
                  </div>
                </article>
                <article class="item">
                            <picture class="img img--item">
                              <source class="img__item" srcset="images/item4.webp" type="image/webp">
                              <source class="img__item" srcset="images/item4.jp2" type="image/jp2"><img class="img__item" src="images/item4.png" alt="item4">
                            </picture>
                  <div class="item__content">
                    <div class="item__gallery slider slider--gallery">
                      <div class="slider__arrow slider__arrow--prev">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                      <div class="slider__content">
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-1.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-1.jp2" type="image/jp2"><img class="img__item" src="images/gallery-1.png" alt="gallery-1">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-2.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-2.jp2" type="image/jp2"><img class="img__item" src="images/gallery-2.png" alt="gallery-2">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-3.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-3.jp2" type="image/jp2"><img class="img__item" src="images/gallery-3.png" alt="gallery-3">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-4.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-4.jp2" type="image/jp2"><img class="img__item" src="images/gallery-4.png" alt="gallery-4">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-5.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-5.jp2" type="image/jp2"><img class="img__item" src="images/gallery-5.png" alt="gallery-5">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-6.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-6.jp2" type="image/jp2"><img class="img__item" src="images/gallery-6.png" alt="gallery-6">
                                  </picture>
                      </div>
                      <div class="slider__arrow slider__arrow--next">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="item__info"><small class="item__category" data-category="shirts">рубашки</small><a class="item__name" href="#">куртка-рубашка с карманами</a>
                      <div class="item__price"><small class="item__sign">$</small><small class="item__count-price" data-price="1240">1240</small></div>
                      <div class="item__left"><small class="item__store">на складе:&nbsp</small><small class="item__count-store">11</small></div>
                    </div>
                  </div>
                </article>
                <article class="item">
                            <picture class="img img--item">
                              <source class="img__item" srcset="images/item5.webp" type="image/webp">
                              <source class="img__item" srcset="images/item5.jp2" type="image/jp2"><img class="img__item" src="images/item5.png" alt="item5">
                            </picture>
                  <div class="item__content">
                    <div class="item__gallery slider slider--gallery">
                      <div class="slider__arrow slider__arrow--prev">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                      <div class="slider__content">
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-1.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-1.jp2" type="image/jp2"><img class="img__item" src="images/gallery-1.png" alt="gallery-1">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-2.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-2.jp2" type="image/jp2"><img class="img__item" src="images/gallery-2.png" alt="gallery-2">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-3.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-3.jp2" type="image/jp2"><img class="img__item" src="images/gallery-3.png" alt="gallery-3">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-4.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-4.jp2" type="image/jp2"><img class="img__item" src="images/gallery-4.png" alt="gallery-4">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-5.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-5.jp2" type="image/jp2"><img class="img__item" src="images/gallery-5.png" alt="gallery-5">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-6.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-6.jp2" type="image/jp2"><img class="img__item" src="images/gallery-6.png" alt="gallery-6">
                                  </picture>
                      </div>
                      <div class="slider__arrow slider__arrow--next">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="item__info"><small class="item__category" data-category="shirts">рубашки</small><a class="item__name" href="#">Кроссовки с пряжками</a>
                      <div class="item__price"><small class="item__sign">$</small><small class="item__count-price" data-price="390">390</small></div>
                      <div class="item__left"><small class="item__store">на складе:&nbsp</small><small class="item__count-store">11</small></div>
                    </div>
                  </div>
                </article>
                <article class="item">
                            <picture class="img img--item">
                              <source class="img__item" srcset="images/item6.webp" type="image/webp">
                              <source class="img__item" srcset="images/item6.jp2" type="image/jp2"><img class="img__item" src="images/item6.png" alt="item6">
                            </picture>
                  <div class="item__content">
                    <div class="item__gallery slider slider--gallery">
                      <div class="slider__arrow slider__arrow--prev">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                      <div class="slider__content">
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-1.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-1.jp2" type="image/jp2"><img class="img__item" src="images/gallery-1.png" alt="gallery-1">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-2.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-2.jp2" type="image/jp2"><img class="img__item" src="images/gallery-2.png" alt="gallery-2">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-3.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-3.jp2" type="image/jp2"><img class="img__item" src="images/gallery-3.png" alt="gallery-3">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-4.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-4.jp2" type="image/jp2"><img class="img__item" src="images/gallery-4.png" alt="gallery-4">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-5.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-5.jp2" type="image/jp2"><img class="img__item" src="images/gallery-5.png" alt="gallery-5">
                                  </picture>
                                  <picture class="img img--gallery">
                                    <source class="img__item" srcset="images/gallery-6.webp" type="image/webp">
                                    <source class="img__item" srcset="images/gallery-6.jp2" type="image/jp2"><img class="img__item" src="images/gallery-6.png" alt="gallery-6">
                                  </picture>
                      </div>
                      <div class="slider__arrow slider__arrow--next">
                        <svg class="icon icon--arrow icon--arrow-slider">
                          <use class="icon__item" xlink:href="#arrow"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="item__info"><small class="item__category" data-category="shirts">рубашки</small><a class="item__name" href="#">Укороченные зауженные брюки</a>
                      <div class="item__price"><small class="item__sign">$</small><small class="item__count-price" data-price="647">647</small></div>
                      <div class="item__left"><small class="item__store">на складе:&nbsp</small><small class="item__count-store">7</small></div>
                    </div>
                  </div>
                </article>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>