.icon {
	&--arrow {
		&-down {
			width: 13px;
			height: 7px;
			stroke: $black;
		}

		&-slider {
			width: 13px;
			height: 7px;
			stroke: $black;
		}
	}

	&--busket {
		width: 23px;
		height: 21px;
		margin-right: 5px;
	}
}
