.img {
	display: flex;

	&--logo {
		width: 100%;
		height: auto;
	}

	&--item {
		height: 100%;
	}

	&--gallery {
		width: 38px;
		height: 38px;
	}

	&__item {
		height: 100%;
		object-fit: cover;
	}
}
