.sort {
	position: relative;

	&__header {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&__name {
		display: inline-block;
		@extend .text--medium;
		color: $black;
		margin-right: 10px;
	}

	&__body {
		display: none;
		position: absolute;
		top: 30px;
		left: -40px;
		border: 1px solid $black;
		width: 190px;
		padding: 20px 10px;

		@media screen and (max-width: 1365px) {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		@media screen and (max-width: 767px) {
			position: static;
			width: 100%;
			border: none;
		}
	}

	&__item {
		text-align: right;

		@media screen and (max-width: 767px) {
			text-align: left;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__link {
		@extend .text--medium;
		color: $black;
		transition: color .25s ease-in-out;

		&:hover {
			color: rgba($black, .5);
		}
	}
}
