.sort {
	position: relative;

	&__header {
		display: flex;
		align-items: center;
	}

	&__name {
		font: 14px/16px $Roboto;
		font-weight: 300;
		letter-spacing: 0.05em;
		color: $black;
		display: inline-block;
		margin-right: 10px;
	}

	&__body {
		position: absolute;
		top: 30px;
		left: -40px;
		border: 1px solid $black;
		width: 190px;
		padding: 20px 10px;

		@media screen and (max-width: 1365px) {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		@media screen and (max-width: 767px) {
			position: static;
			width: 100%;
			border: none;
		}
	}

	&__item {
		text-align: right;

		@media screen and (max-width: 767px) {
			text-align: left;
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__link {
		font: 14px/16px $Roboto;
		font-weight: 300;
		letter-spacing: 0.05em;
		color: $black;
	}
}
